body {
    display:flex;
    flex-direction: column;
    align-items: center;
}

body a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    font-style: normal;
} 

/*FONTS FIX*/
body a {
    text-decoration: none;
    color: white;
    font-weight: 300;
}

body a:hover {
    color: #24a6f0;
}

body h1 {
    font-weight: 800;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.8px;
}

body h2 {
    font-weight: 700;
    font-size: 40px; 
    line-height: 142%;
    
}

body h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.4px;
}

body h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

body h6 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

body p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
/*FONTS FIX END*/


/*HEADER*/
.navbar__logo {
    align-self: center;
}

.navbar__logo h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.7px;
    margin-bottom: -6px;
}

.navbar__logo a:hover {
    color: #ffffff;
}

header {
    width: 1440px;
    height: 621px;
    background: #FAFAFA;
}

.navbar__2 {
    display: flex;
    justify-content: space-between;
}

.navbar__2__fix {
    margin-left: -152px;
}

.navbar__3__fix {
    margin-right: 7px;
    gap: 44px;
    flex-direction: row;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.2px;
}

.navbar__main {
    position: relative;
    display: flex;
    width: 81%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    top: 18px;
}

.navbar__nav {
    flex-direction: row;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    align-items: center;
    gap: 21px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.background {
    position: absolute;
    background-image: url(pics/hero-cover-5.jpg);
    background-repeat: round;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: inherit;
}

.filter {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.navbar__3 button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 23px 15px 29px;
    gap: 15px;
}

#button {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.7px;
    color: white;
    text-align: center;
}

.head__cont {
    width: 81%;
    top: 49px;
    position: relative;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    gap: 4.5%;
    align-items: center;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.head__cont__left {
    display: flex;
    flex-direction: column;
    gap: 27px;
}

#txt__white {
    color: white;
}

.head__btns {
    display: flex;
    gap: 10px;
}

.head__btns button {
    border-radius: 37px;
    padding: 15px 35px;
    gap: 10px;
    height: 52px;
}

.btn__rad button {
    border-radius: 7px;
}

.btn-primary-fixed {
    --bs-btn-border-width: 1px;
    --bs-btn-border-radius: 0.375rem;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    --bs-btn-color: #fff;
    --bs-btn-bg: #24a6f0;
    --bs-btn-border-color: #24a6f0;
    --bs-btn-hover-color: #fff;
    --bs-btn-disabled-color: #fff;
    --bs-btn-hover-bg: #24a6f0;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}

.btn-primary-fixed:hover {
    border-color: #ffffff;
    background: #24a6f0;
}


.head__btns .btn-outline-primary-fixed {
    border: 1px solid #FFFFFF;
    --bs-btn-hover-border-color: #ffffff;
    --bs-btn-hover-bg: #24a6f0;
}
/*HEADER END*/

/*FEATURES*/
.features {
    width: 1440px;
    height: 612px;
}

#block__fe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 0px;
    gap: 81px;
}

#block__pers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 22.87%;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 693px;
    height: 164px;
}

.main-content h2 {
    text-align: center;
    letter-spacing: -0.8px;
    color: #252B42;
}

.main-content p {
    text-align: center;
    letter-spacing: 0.3px;
    color: #737373;
    width: 470px;
    height: 40px;
    line-height: 22px;
}

.row__fe {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 29.8px;
    width: 1050px;
    height: 200.53px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    gap: 11px;
}

.card-item h5 {
    text-align: center;
    letter-spacing: 0.1px;
    color: #737373;
    line-height: 10px;
}
/*FEATURES END*/

/*TESTIMONIALS*/
.testimonials {
    width: 1440px;
    height: 659px;
}

#block__testi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 0px;
    gap: 9px;
    width: 1050px;
}

#block__pers__2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    width: 50%;
}

.card-item__2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.img__pers__testi img {
    width: 175px;
    height: 248px;
    left: 2px;
    top: 0px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 54px 28px 40px 30px;
    gap: 16px;
}

#row__testi {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    flex-wrap: nowrap;
    width: 1050px;
    margin-right: -17px;
}

.name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.stars {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
}

.name h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.3px;
    color: #252B42;
    margin: 0px;

}

.name h6 {
    margin: 0px;
}

.card__content p {
    letter-spacing: 0.32px;
}
/*TESTIMONIALS END*/

/*ABOUT US*/
.about__us {
    width: 1440px;
    height: 869px;
}

.block__about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 0px;
    gap: 39px;
}

#row__about {
    display: flex;
    padding: 0px;
    width: 1053px;
    height: 442px;
    gap: 60px;
}

#left__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 0px 4px;
    gap: 35px;
    width: 58.33333333%;
}

#right__about {
    display: flex;
    flex-direction: column;
    padding: 44px 0px 0px 46px;
    gap: 23px;
    width: 35.7%;
}

.right__about__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 3px 3px;
    gap: 2px;
    margin-bottom: 8px;
}

.right__about__txt h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.23px;
    color: #252B42;
}

.right__about__txt p {
    letter-spacing: 0.3px;
}

.card-item__about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.flex-row__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.flex-row__txt h5 {
    letter-spacing: -0.2px;
    margin-bottom: 4px;
}

.flex-row__txt h6 {
    letter-spacing: 0.1px;
}

.flex-row img {
    width: 32px;
    height: 32px;
}

#left__about .plyr__control--overlaid {
    padding: calc(var(--plyr-control-spacing,25px)*1.5);
}

#left__about .plyr__control--overlaid svg {
    left: 0px;
}

#left__about .plyr video {
    height: 442px;
}    

#left__about .plyr {
    max-width: 592px;
    max-height: 442px;
}

.plyr__menu__container .plyr__control>span {
    color: gray;
}
/*ABOUT US END*/

/*PRICING*/
.pricing {
    width: 1440px;
    height: 1052px;
}

.block__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 112px 0px;
    gap: 23px;
}

#row__pricing {
    display: flex;
    padding: 0px 0px 0px 2px;
    gap: 72px;
    justify-content: center;
}

#block__row__pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 40%;
}

.pricing-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 31px;
    gap: 27px;
    border: 1px solid #23A6F0;
    border-radius: 10px;
    width: 334px;
}

.pricing-style h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.1px;
}

.pricing-style h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #737373;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 0px 0px;
    color: #23A6F0;
}

.price__txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
}

.price h5 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #8EC2F2;
}

.price h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #23A6F0;
    margin-bottom: 0px;
}

.price h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #23A6F0;
}

.features__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.feature__item {
    display: flex;
    padding: 0px 0px 15px 10px;
    gap: 10px;
    align-items: flex-start;
}

.button__price {
    background: #23A6F0 !important;
    border: 1px solid #23A6F0;
    border-radius: 7px !important;
    flex-direction: row;
    align-items: center;
    width: 277px;
    height: 49px;
    margin-top: -13px;
    padding: 8px 38px 8px 38px !important;
}
/*PRICING END*/

/*CONTACT*/
.contact {
    width: 90.8%;
    height: 829px;
    background-image: url(pics/cover.jpg);
    background-repeat: repeat-x;
}

.block__contact {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 160px 0px 96px;
    gap: 50px;
}

.contact__txt {
    text-align: center;
}

.contact__txt h5 {
    margin-bottom: 0px;
}

.card__item__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
    gap: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    width: 1052px;
    height: 573px;
    
}

.card__content__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.frame__1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 924px;
    height: 50px;
    justify-content: center;
}

#contact__form {
    box-sizing: border-box;
    width: 455px;
    height: 50px;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
}

.background__contact img {
    position: relative;
    z-index: -1;
    margin-bottom: -400px;
}

.form-control {
    width: 455px !important;
    height: 50px !important;
}

.form-control__2 {
    width: 932px;
    height: 140px;
    display: block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn__cont {
    padding: 15px 38px !important;
    margin-top: 8px;
}
/*CONTACT END*/

/*FOOTER*/
.footer {
    width: 1440px;
    height: 414px;
}

.block__footer {
    width: 1440px;
    height: 338px;
}

.container__footer {
    display: flex;
    padding: 80px 0px;
    gap: 80px;
    height: 338px;
    flex-direction: column;
    align-items: center;
}

.social__media {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin-top: 21px;
}

.links a {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
}

.row__footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 1046px;
    height: 178px;
}

.row__footer h3 {
    font-weight: 700; 
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    color: #252B42;
}

.row__footer p {
    margin: 24px 0px;
    letter-spacing: 0.3px;
}
/*FOOTER END*/